.catalog-main-header { 
    letter-spacing: 3px; 
    text-align: center; 
    margin-bottom: 2rem; 
    font-size: 2rem;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    ;
    font-weight: bold;

}
.section-divider { 
  border-bottom: 3px solid var(--text-white); 
  padding-bottom: 0.5rem; 
  text-transform: uppercase; 
  color: var(--primary-gold); 
  letter-spacing: 1px; 
}
.catalog-author { 
    color: navy; 
    font-size: 0.85rem; 
    font-style: italic; 
    margin: 0.4rem 0; }

.catalog-price { 
    font-weight: bold; 
    color: rgba(243, 0, 0, 0.823); 
    margin: 0.5rem 0 1rem 0; }
