<!-- top featured arrivals hero showcase block row -->
<section class="hero-section">
  <div class="hero-text-side">
    <h2 style="font-family:sans-serif;">JUDGE THESE SAFELY BY THEIR COVERS</h2>
  </div>
  <div class="hero-books-side">
    @for (book of cartService.filteredInventory(); track book.id) {
      @if (book.id === 1 || book.id === 2) {
        <div class="hero-card">
          <img [src]="book.cover" alt="Cover" class="kiosk-cover-img" (click)="cartService.openDetails(book)" style="cursor: pointer;">
          <h4>{{ book.title }}</h4>
          <p class="author-sub-text">By {{ book.author }}</p>
          <button class="kiosk-box-btn" (click)="cartService.openDetails(book)">VIEW OPTIONS</button>
        </div>
      }
    }
  </div>
</section>

<div class="judge-burners-container">

  <!-- highly judge section header block -->
  <div class="kiosk-header-wrapper">
    <div class="kiosk-header-box">
      <h3>HIGHLY JUDGE</h3>
      <div class="kiosk-header-gold-line"></div>
    </div>
  </div>

  <section class="shelf-section">
    <div class="shelf-grid">
      @for (book of cartService.filteredInventory(); track book.id) {
        @if (book.salesCount >= 110 && book.type === 'Physical') {
          <div class="shelf-card-box">
            <img [src]="book.cover" alt="Cover" class="kiosk-cover-img" (click)="cartService.openDetails(book)" style="cursor: pointer;">
            <h5>{{ book.title }}</h5>
            <button class="kiosk-box-btn" (click)="cartService.openDetails(book)">VIEW OPTIONS</button>
          </div>
        }
      }
    </div>
  </section>

  <!-- shelf burners section header block -->
  <div class="kiosk-header-wrapper" style="margin-top: 5rem;">
    <div class="kiosk-header-box">
      <h3>SHELF BURNERS</h3>
      <div class="kiosk-header-gold-line"></div>
    </div>
  </div>

  <section class="shelf-section">
    <div class="shelf-grid">
      @for (book of cartService.filteredInventory(); track book.id) {
        @if (book.readCount >= 150 && book.type === 'E-Book') {
          <div class="shelf-card-box">
            <img [src]="book.cover" alt="Cover" class="kiosk-cover-img" (click)="cartService.openDetails(book)" style="cursor: pointer;">
            <h5>{{ book.title }}</h5>
            <button class="kiosk-box-btn" (click)="cartService.openDetails(book)">VIEW OPTIONS</button>
          </div>
        }
      }
    </div>
  </section>

</div>